!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "UTF-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title Document
    %link{href: "style.css", rel: "stylesheet"}/
  %body
    %section.s_1
      .t_l
        %p.t_1 we work hard, we play hard
        %p.t_2 We Create
        %p.t_2 Elegant Solutions
      .c_l
        .card
          .circle
          %p.c_1 Pixel Perfect Design
          %p.c_2 Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.
        .card
          .circle
          %p.c_1 Full Documentation
          %p.c_2 Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.
        .card
          .circle
          %p.c_1 Reasonable Pricing
          %p.c_2 Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.
        .card
          .circle
          %p.c_1 Happy clients
          %p.c_2 Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.
    %section.s_2
    %section.s_3
      .img
      .txt
        .b_1
          %p.p_1 Easy way to build perfect websites
          %p.p_2 Smart, Curious, Hands On.
          %p.p_3 Lelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam, quis nostru exercitation ullamco laboris, etsed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam, etaquis nostru
        .b_2
          .b_3
            %p.p_4 Creative Solutions
            %p.p_5 Lorem Ipsum is simply text the printing and typesetting standard industry.
          .b_3
            %p.p_4 Clean code
            %p.p_5 Lorem Ipsum is simply text the printing and typesetting standard industry.
    %section.s_4
      .sq_1
        .img_2
        .sq_2
          %p.p_6 Unique digital experiences
          %p.p_7
            We are a young and
            promising team
          %p.p_8 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.
      .sq_1
        .img_3
        .sq_2
          %p.p_6 Build perfect websites
          %p.p_7 Our products simply provide the quality
          %p.p_8 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.
    %footer.footer
      %p.p_f Работу выполнил
      %p.p_f Мельчаков Константин
      %p.p_f 2023